STRIPE_SECRET=sk_test_BQokikJOvBiI2HlWgH4olfQ2
AUTH_SECRET=secretshshsh
AUTH_EXPIRES_IN=3h
MONGODB_URI=mongodb+srv://heomap123:heomap123@cluster0.lpnuajj.mongodb.net/genderdb?retryWrites=true&w=majority
